[Unit]
Description=Simple tunnel for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
StartLimitIntervalSec=10s
StartLimitBurst=5

[Service]
Type=simple
Environment=RUST_LOG=simple_tunnel=info
ExecStart=/usr/local/bin/tunnel-quick run %i
Restart=always
RestartSec=100ms

[Install]
WantedBy=multi-user.target
